body {
    background-color: black;
    color: rgb(151, 190, 245);
}

p {
    line-height: 150%;
    text-align: justify;

}

a {
    color: rgb(10, 67, 124);
    text-decoration: none;
    line-height: 2em;

}

.container {
    display: grid;
    padding: 3em;
    grid-gap: 2em;
    grid-template-columns: repeat(auto-fit, minmax(1fr, 1fr));
    grid-template-rows: max-content;
    grid-template-areas:
        "header header header header "
        ". main main."
        ". main main ."
        "footer footer footer footer";
}

header {
    background-image: url(content/IMG_0473.JPG);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-area: header;
    height: 100%;
    width: 100%;
    border-radius: .5em;
}

header h1 {
    color: rgb(151, 190, 245);
    font-family: Hel;
}

header h2 {
    color: hotpink;
}


header h3 {
    color: darkseagreen;
}

footer {
    display: flex;
    justify-content: center;
    height: 1px;
    width: 100%;
    border-radius: 5em;
    grid-area: footer;
    background-color: teal;

}

footer p {
    color: teal
}

nav {
    display: flex;
    
    grid-area: nav;
    width: 100%;
    margin: 0;
    padding-left: 12%;
    border-radius: .5em;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

label {
    border-radius: 1em;
    text-align: center;

}

.button {
    width: 100%;
    padding: 1px;
    border-radius: 5%;
    background-color: rgb(193, 238, 184);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hidden {
    display: none;
    width: 100%;

}

.view-more:not(:checked)~label,
.view-more:checked~.hidden {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items:center;
    color: hotpink;
}

.view-more,
.view-more:checked~label {
    display: none;
}


/* unvisited link */
a:link {
    color: rgb(151, 190, 245);
}

/* visited link */
a:visited {
    color: rgb(151, 190, 245);
}

/* mouse over link */
a:hover {
    color: hotpink;
}

/* selected link */
a:active {
    color: blue;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}